# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.eggs/

# Environment variables (DO NOT DEPLOY SECRETS)
.env
.env.*

# Local specific files
demo.excalidraw
create_db.py
test.py
test_api.py

# Docker
Dockerfile
.dockerignore